{{define "change"}}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/change.css">
        <title> Change </title>
    </head>
    <body>
        <div class="centerbubble">
        <div class="bord">
            {{if eq .Odd 0}}
            <p> Le nombre est pair </p>
            {{else}}
            <p> Le nombre est impair </p>
            {{end}}
            <p> {{.Num}} </p>
        </div>
        </div>
    </body>
</html>
{{end}}